<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ALX.Common.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
		<ALX.Common.UI.Properties.Settings>
            <setting name="FontName" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
            <setting name="CloseButtonText" serializeAs="String">
                <value>Закрыть</value>
            </setting>
            <setting name="YesButtonText" serializeAs="String">
                <value>Да</value>
            </setting>
            <setting name="NoButtonText" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="CancelButtonText" serializeAs="String">
                <value>Отмена</value>
            </setting>
            <setting name="SaveButtonText" serializeAs="String">
                <value>Сохранить</value>
            </setting>
            <setting name="PrepareButtonText" serializeAs="String">
                <value>Подготовить</value>
            </setting>
            <setting name="SendButtonText" serializeAs="String">
                <value>Отправить</value>
            </setting>
            <setting name="OkButtonText" serializeAs="String">
                <value>ОК</value>
            </setting>
        </ALX.Common.UI.Properties.Settings>    
</applicationSettings>
</configuration>